<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>NO CONTENT</h1>
<p>The server has fulfilled the request but has returned an empty (blank) document.</p>
</div>
</center>
</body>
</html>