<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>MULTISTATUS</h1>
<p>This status message has been generated as there are several status codes that have been generated in response to your request.</p>
</div>
</center>
</body>
</html>