<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>MOVED TEMPORARILY</h1>
<p>The requested resource lies temporarily under a different URI. Since the redirection may be altered on occasion, kindly continue to use the request-URI for future requests also.</p>
</div>
</center>
</body>
</html>