<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>BAD REQUEST</h1>
<p>The request could not be understood by the server due to malformed syntax. Kindly check that you have not left any field blank and retry and please do not blame the portal or the browser (except IE) for your mistakes.</p>
</div>
</center>
</body>
</html>