<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>UNAUTHORISED ACCESS</h1>
<p>Sorry, you do not have sufficient privileges to view or edit the content you requested. Please leave before we call the cops.</p>
</div>
</center>
</body>
</html>