<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>METHOD NOT ALLOWED</h1>
<p>The request cannot be completed as the method invoked is not allowed. This may be because the requested action is prohibited or a resource which you are trying to create already exists.</p>
</div>
</center>
</body>
</html>