<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>CONFLICT ERROR</h1>
<p>The requested action cannot be completed. Kindly check that your request isn't incomplete or doesn't potentially match multiple values or doesn't violate the hierarchy.</p>
</div>
</center>
</body>
</html>