<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>FILE IS LOCKED</h1>
<p>The file you are trying to access has been exclusive/shared locked by another user/group whose name we wouldn't reveal.</p>
</div>
</center>
</body>
</html>