<html>
<head>
<title>Limeberry</title>
<%= stylesheet_link_tag '1' %>
</head>
<body>
<a name="top" id="top"></a>
<center>
<div id="header">
<h2>ERROR</h2>
</div>
<div id="content">
<img src="/images/logo.png" alt="Your Logo" class="logo" />
</div>
<div id="mainbar">
<h1>OUT OF RESOURCES</h1>
<p>The Server is currently running low on resources - kindly retry after a few minutes.</p>
</div>
</center>
</body>
</html>